<h1>Welcome To Pets-R-Us</h1>

<%= link_to "Pets", pets_path %>
<%= link_to "Owners", owners_path %>
<%= link_to "Appointments", appointments_path %>


<button type="button" id="reload-appointments">Reload Appointments</button>
<div class="active-appointments">

</div>
